body {
  font-family: Arial;
  margin: 0;
  color: #23244c;
}

/*
Comment
*/

.header-bar {
  padding: 20px 0;
}

.logo {
  width: 140px;
}

.container {
  width: 1000px;
  margin: auto;
}

.blue-container {
  background: #9dd8f7;
  height: 500px;
}

.center-text {
  text-align: center;
}

.hero-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 0;
}

.hero-copy {
  font-size: 28px;
}

h1 {
  font-size: 34px;
}

.box {
  background: #fff;
  width: 200px;
  height: 160px;
  float: left;
  margin-right: 36px;
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 8px solid #23244c;
  font-size: 20px;
}

select {
  width: 400px;
  background: white;
  background: #fff;
  background: #ffffff;
  border: 1px solid #23244c;
  padding: 6px 0;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
}